@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}

nav{
    background: linear-gradient(45deg, lightblue, #B5F1CC); 
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    /* box-shadow: 12px 12px 12px 12px white; */
}

.nav{
    display: flex;
    list-style: none;
    font-size: 1.4rem;
}
.nav li{
    margin: 0 20px;
}
.nav li a{
    text-decoration: none;
    color: #575A5E;
}
.nav li a:hover{
    text-decoration: overline;
    color:black;
    transition: all .50s ease;
}
.nav .active{
    text-decoration: overline;
    color:black;
}
.nav div{
    display: none;
}

.permanent{
    display: flex;
    font-size: 1.4rem;
}
.permanent a{
    text-decoration: none;
    color: #575A5E;
    margin: 0 10px;
}
.permanent div{
    display: none;
}

@media (max-width :950px) and (min-width: 887px){
    .nav{
        font-size: 1.2rem;
    padding: 0 102px;
    }
}

@media (max-width :886px){
    .permanent div{
        display:block;
    }
    .nav{
        position: absolute;
        right: -100%;
        z-index: 1000;
        background-color: aqua;
        top: 100%;
        width: 270px;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease-in-out;
        padding: 30px 0;
    }
    .nav a{
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .50s ease;
    }
    .nav li{
        margin: 0;
        padding: 5px 10px;
    }
    .nav li:hover{
        background-color: aliceblue;
    }
    .nav .active{
        background-color: aliceblue;
    }

    .nav div{
        display: block;
    }
    .nav div img{
        margin: 20px 80px;
        width: 100px;
        
    }
    .nav.open{
        right: 0%;
    }
    
}